.remove-class{
    color: #a68013;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.title{
    color: blue;
}
.img-format{
    background-size: cover; /* adjust as needed */
    background-position: center; 
    width: 90px; /* adjust as needed */
    height: 90px; /* adjust as needed */
    background-repeat: no-repeat;
}
.index-width{
    width: 5%;
}
.image-width{
    width: 10%;
}
.title-width{
    width: 35%;
}
.wrap{
    text-wrap: nowrap;
}
.icon-align{
    vertical-align: middle;
}
.btn-style{
    border: 0px;
}